canvas {
    display: block;
}

* {
    margin: 0px;
    padding: 0px;
}

.instructions {
    position: absolute;
    top: 20px;
    left: 60px;
    color: rgb(199, 199, 199);
}

.text-center {
    text-align: center;
}

.score {
    position: absolute;
    top: 20px;
    right: 60px;
    color: rgb(199, 199, 199);
}